.backgroundImage {
    padding-top: 20px;
}
.backgroundImage-menu-open {
  padding-top: 80px; /* Adjust based on mobile menu height */
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 80px;
  margin-bottom: 20px;
}

.logo {
  height: 250px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px;
  gap: 30px;
  min-height: 300px;
}

.dontSign {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.5;
  font-style: italic;
}

.highlight {
  font-weight: bold;
  color: #dc3545;
  font-style: italic;
}

.companyName {
  font-weight: 600;
  color: #4263bb;
}

.bioContainer {
  flex: 1;
  max-width: 48%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.bioTitle {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bioText {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contactButton {
  background-color: #4263bb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.contactButton:hover {
  background-color: #4d8a96;
}

.clipartContainer1 {
  flex: 1;
  max-width: 48%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  position: relative;
}

.clipart {
  width: 350px;
  height: 350px;
}

.reviewsContainer {
  background: linear-gradient(to bottom, #ffffff 0%, #cdcdcd 100%);
  padding-bottom: 30px;
  padding-top: 1px;
}

.reviewsTitle {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  color: #2c3e50;
  text-align: center;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: outline 0.3s, box-shadow 0.3s;
}

.card:hover {
  outline: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.profileCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initial {
  color: white;
  font-size: 1.8em;
  font-weight: bold;
}

.textContent {
  text-align: center;
}

.author {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

.rating {
  color: #f5b50a;
  font-size: 1.2em;
  margin: 5px 0;
}

.text {
  font-size: 0.9em;
  color: #444;
}

.arrow {
  background: none;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  padding: 20px;
  color: #333;
}

.reviewButton {
  background-color: #4263bb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reviewButton:hover {
  background-color: #4d8a96;
}
@media (max-width: 920px) {
.container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
   .bioContainer {
    max-width: 100%;
    padding: 15px;
  }
  .clipartContainer1 {
    max-width: 100%;
    padding: 15px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 15px;
  }
}
@media (max-width: 800px) {
    .logo {
        height: 175px;
    }
}
@media (max-width: 650px) {
  .logo {
    height: 125px;
  }

  .logoContainer {
    padding-top: 60px;
  }
  .bioTitle {
    font-size: 1.5em;
  }

  .bioText {
    font-size: 1em;
  }
  .dontSign {
    margin: 20px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 15px;
  }

  .card {
    padding: 15px;
  }

  .reviewsTitle {
    font-size: 1.5em;
  }

  .arrow {
    font-size: 2.5rem;
    padding: 10px;
  }

  .contactButton,
  .reviewButton {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}